@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    font-family: "Anaheim", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1px;
    margin: 0;
}

#modalActive
{
    visibility: visible;
}

.animate{transition: 0.3s;}